<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Deployment</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
  </head>
  <header>
    <div class="container">
        <nav>
            <ul class="nav-list">

              <li class="nav-item">
                  <a href="{{ url_for('homemenu')}}" class="nav-link">Home</a>
              </li>

              <li class="nav-item">
                  <a href="{{ url_for('sentimentmenu')}}" value="log_user" class="nav-link">Sentiments</a>
              </li>
              
            <li class="nav-item">
              <a href="{{ url_for('tweetsmenu')}}" value="log_user" class="nav-link">Tweets</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('analysismenu')}}" value="log_user" class="nav-link">Analysis</a>
        </li>
            <li class="nav-item">
              <a href="{{ url_for('logoutmenu')}}" value="log_user" class="nav-link">Logout</a>
          </li>
            
            </ul>
                  
        </nav>
    </div>
  </header>
  <body style="background: #222;">

    
        <div class="login" >
          <h1>CUSTOMER FEEDBACKS</h1>
              <h2 style="color:white; text-align:center">GET TWITTER DATA</h2>
              <div class="sentiment">
                <form action="{{ url_for('tweets')}}"method="post">
                    <input type="text" name="Enter The Company's Name " placeholder="Format: uber_kenya until:2022-06-01 since:2022-01-01 " required="required" />
                    {{ tweets_text }}
                    <button type="submit" class="btn">Generate Tweets</button>
                </form>
                <br>
                {{ tweets2_text }}
                <br>
                
              <form action="{{ url_for('gotosentimentpage')}}" method="post"> 
                <div>
                    <button class="btn">SENTIMENT ANALYSIS</button></a>
                </div>
                <br>
                <br>
              </form>
            </div>
            
        </div>
    
    </section>

  </body>
</html>










