<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Deployment</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      
  </head>

  <header>
    <div class="container">
        <nav>
            <ul class="nav-list">

              <li class="nav-item">
                  <a href="{{ url_for('homemenu')}}" class="nav-link">Home</a>
              </li>

              <li class="nav-item">
                  <a href="{{ url_for('sentimentmenu')}}" value="log_user" class="nav-link">Sentiments</a>
              </li>
              
            <li class="nav-item">
              <a href="{{ url_for('tweetsmenu')}}" value="log_user" class="nav-link">Tweets</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('analysismenu')}}" value="log_user" class="nav-link">Analysis</a>
        </li>
            <li class="nav-item">
              <a href="{{ url_for('logoutmenu')}}" value="log_user" class="nav-link">Logout</a>
          </li>
            
            </ul>
                  
        </nav>
    </div>
  </header>
  <body style="background: #222;">

    
        <div class="container" >
          <h1>CUSTOMER FEEDBACKS</h1>
              <h2 style="color:white; text-align:center">POSITIVE PREDICTED SENTIMENTS</h2>
                <div style= "align: center;">
                    <table style="width: 100%;" id="tablechart">
                        <h1>
                            {% for table in tables%}
                            <h2>{{titles[loop.index]}}</h2>
                        {{table | safe}} {% endfor %}
                </div>
            
        </div>
    
    </section>

  </body>
</html>










